# Python
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Node / Astro
node_modules/
.astro/
dist/
.output/
.vercel/
npm-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# lokal
*.tmp
*.bak
